body {
    margin: 5px 0px;
}

.labelText {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 38px;
}

#pageContainer {
    position: relative;
    width: 960px;
    margin: 0px auto;
    padding: 10px 0px;
    background-image: url('retina_wood.png');
    background-repeat: repeat;
}

#contentContainer {
    width: 610px;
    margin: 0px auto;
}

#paperContainer {
    position: relative;
    height: 310px;
    background-image: url('lined_paper.png');
    background-repeat: repeat;
    border-radius: 6px;
}

#targetLabel {
    position: absolute;
    left: 20px;
    top: 30px;
}

#bestLabel {
    position: absolute;
    left: 370px;
    top: 30px;
}

#canvasContainer {
    position: relative;
    left: 20px;
    top: 50px;
}

#targetCanvas {
    position: relative;
    left: 70px;
}

#bestCanvas {
    position: relative;
    left: 310px;
}

#childContainer {
    position: relative;
    top: 40px;
}

#childLabel {
    position: absolute;
    left: 200px;
    top: 125px;
}

#controlsContainer {
    position: relative;
    margin: 0px;
}

.childCanvas {
    position: relative;
    margin: 0px 8px;
}

#targetCharTextField {
    width: 1em;
}

#playPauseButton {

}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#alignContainer {
    margin: 10px 0px;
    height: 30px;
     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#alignContainer div {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#textContainer {
    padding: 0px 15px;
    border-radius: 6px;
    background-image: url('paper_texture.png');
    background-repeat: repeat;
}

h2 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 38px;
}
